.container-header {
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: #292929;
    color: #fff;
    transition: transform 0.3s ease;
}

.container-nav {
    padding: 0 2rem;
}

.container-logo { 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;
}

.image-logo {
    width: 4em;
    filter: brightness(0) invert(1); /* converte a cor para branco */
}


/* Estilos de responsividade */
@media (max-width: 450px) {
    .container-header {
        width: 4rem;
    }

    .name-logo {
        display: none;
    }

    .container-nav {
        padding: .5rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-logo {
        width: 3rem;
    }
}
