.card-event {
    position: relative; /* Para que os filhos possam ser posicionados em relação a este contêiner */
    background-color: #fff;
    color: #000;
    border-radius: .5rem;
    margin: .5rem;
    padding: .3rem .5rem;
    width: 390px;
    height: 390px;
    /* Remover altura fixa para torná-la dinâmica */
    overflow: hidden; /* Oculta o excesso da imagem */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box; /* Garante que o padding seja considerado no tamanho total */
}

.card-event img {
    width: 100%; /* Ajusta a largura da imagem para ocupar 100% da área disponível */
    height: 100%; /* Permite que a altura da imagem se ajuste automaticamente */
    max-height: 250px; /* Define uma altura máxima para garantir que não ultrapasse a moldura */
    object-fit: cover; /* Corta a imagem se necessário, sem deformar */
    object-position: center; /* Centraliza a imagem */
    border-radius: .5rem .5rem 0 0;
    box-sizing: border-box;
}

.card-event-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem 0;
    justify-content: center;
    flex-grow: 1; /* Faz com que o corpo do card ocupe o espaço restante */
}

.card-event-body h2 {
    text-align: justify;
}

.date-time-card {
    padding: .8rem 0 0;
}

.date-time-card, .card-event p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}

.card-event-icons {
    position: absolute; /* Permite que os ícones sejam posicionados sobre a imagem */
    top: 10px; /* Ajuste a posição vertical */
    right: 10px; /* Ajuste a posição horizontal */
    display: flex;
    gap: 5px; /* Espaçamento entre os ícones */
    z-index: 1; /* Para garantir que os ícones fiquem acima da imagem */
}

.icon-button {
    cursor: pointer; /* Muda o cursor para indicar que os ícones são clicáveis */
    color: white; /* Cor do ícone, ajuste conforme necessário */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    border-radius: 50%; /* Para deixar os ícones em forma circular */
    padding: 5px; /* Espaçamento interno para um botão mais "gordo" */
    transition: background-color 0.3s; /* Efeito suave ao passar o mouse */
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Escurece o fundo ao passar o mouse */
}

@media (max-width: 451px) {
    .card-event {
        height: auto;
    }

    .card-event img {
        max-height: 180px;
    }
    
    .card-event-body h2 {
        font-size: 17.5px;
    }

    .card-event-body svg {
        font-size: 14px;
        padding-right: .5rem;
    }

    .date-time-card, .card-event p {
        font-size: 12px;
    }
}
